{% extends 'base.html.twig' %}

{% block title %}{{ directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ directorate }}</li>
        </ol>
    </nav>
    <h1>{{ directorate }}</h1>
    <h4>Руководство</h4>
    <ul>
        {% for leader in leaders %}
            <li>
                <a href="{{ path('app_employee_show', {'directorateAlias': directorate.alias, 'number': leader.number}) }}">{{ leader.user }}</a> - {{ leader.position.name }}</li>
        {% endfor %}
    </ul>
    <p><a href="{{ path('app_employee_index', {'directorateAlias': directorate.alias}) }}">Все сотрудники</a></p>
    <h4>Приказы</h4>
    <ul>
        {% for order in orders %}
            <li><a href="{{ path('app_order_show', {'directorateAlias': directorate.alias, 'number': order.number}) }}">
                    {% if order.canceledBy %}<del>{% endif %}№{{ order.numberString }} {{ order.title }}{% if order.canceledBy %}</del>{% endif -%}
                </a> ({{ order.signedAt | date('d.m.Y H:i:s') }})</li>
        {% endfor %}
    </ul>
    <p><a href="{{ path('app_order_index', {directorateAlias: directorate.alias}) }}">Все приказы</a>{% if is_granted('DRAFT_ORDER_LIST', directorate) %} (<a
                href="{{ path('app_draftorder_index', {directorateAlias: directorate.alias}) }}">Черновики</a>{% if is_granted('DRAFT_ORDER_CREATE', directorate) %}, <a
                href="{{ path('app_draftorder_new', {'directorateAlias': directorate.alias}) }}">Новый</a>{% endif %}){% endif %}</p>
    <h4>Кадровые приказы</h4>
    <ul>
        {% for order in hr_orders %}
            <li><a href="{{ path('app_hrorder_show', {'directorateAlias': directorate.alias, 'year': order.year, 'number': order.number}) }}">№{{ order.numberString }}</a> ({{ order.signedAt | date('d.m.Y H:i:s') }})</li>
        {% endfor %}
    </ul>
    <p><a href="{{ path('app_hrorder_index', {'directorateAlias': directorate.alias}) }}">Все приказы</a>{% if is_granted('DRAFT_ORDER_LIST', directorate) %} (<a
                href="{{ path('app_drafthrorder_index', {'directorateAlias': directorate.alias}) }}">Черновики</a>{% if is_granted('DRAFT_ORDER_CREATE', directorate) %}, <a
                href="{{ path('app_drafthrorder_new', {'directorateAlias': directorate.alias}) }}">Новый</a>{% endif %}){% endif %}</p>
{% endblock %}
