<h1 style="text-align: center">{{ order }}</h1>
{{ order.text | raw }}
<div style="display: flex; justify-content: space-between">
    <abbr title="{{ order.authorPosition.name }}">{{ order.authorPosition.shortName }}</abbr>
    <span>{{ order.author.user }}</span>
</div>
