{% extends 'base.html.twig' %}

{% block title %}Кадровые приказы - {{ directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {directorateAlias: directorate.alias}) }}">{{ directorate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Кадровые приказы</li>
        </ol>
    </nav>
    <h1>Приказы - {{ directorate }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Номер', 'o.year+o.number') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Дата', 'o.signedAt') }}</th>
            <th scope="col">Автор</th>
        </tr>
        </thead>
        <tbody>
        {% for o in orders %}
            <tr>
                <th scope="row">
                    <a href="{{ path('app_hrorder_show', {'directorateAlias': o.directorate.alias, 'year': o.year, 'number': o.number}) }}">{{ o.number }}</a>
                </th>
                <td>{{ o.signedAt | date('d.m.Y H:i:s') }}</td>
                <td><abbr title="{{ o.authorPosition.name }}">{{ o.authorPosition.shortName }}</abbr> {{ o.author.user }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>{{ knp_pagination_render(orders) }}</div>
{% endblock %}
