<ul>
    {% if item.oldPosition != item.newPosition %}
        <li>
            должность:
            {% if item.oldPosition %}
                <abbr title="{{ item.oldPosition.name }}">{{ item.oldPosition.shortName }}</abbr>
            {% else %}
                <i>нет</i>
            {% endif %}
            -&gt;
            {% if item.newPosition %}
                <abbr title="{{ item.newPosition.name }}">{{ item.newPosition.shortName }}</abbr>
            {% else %}
                <i>нет</i> (уволен)
            {% endif %}
            {% if not item.oldPosition %}
                (принят)
            {% endif %}
        </li>
    {% endif %}
    {% if item.oldRank.value is not same as item.newRank.value %}
        <li>класс: {{ item.oldRank }} -&gt; {{ item.newRank }}</li>
    {% endif %}
    {% if item.oldPoints != item.newPoints %}
        <li>баллы: {{ item.oldPoints }} -&gt; {{ item.newPoints }}</li>
    {% endif %}
    {% if item.addAdmittances %}
        <li>добавленные допуски: {{ item.addAdmittances | join(', ') }}</li>
    {% endif %}
    {% if item.removeAdmittances %}
        <li>удалённые допуски: {{ item.removeAdmittances | join(', ') }}</li>
    {% endif %}
</ul>