{% extends 'base.html.twig' %}

{% block title %}{{ order }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {'directorateAlias': order.directorate.alias}) }}">{{ order.directorate }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_hrorder_index', {'directorateAlias': order.directorate.alias}) }}">Кадровые приказы</a></li>
            <li class="breadcrumb-item">{{ order.year }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ order }}</li>
        </ol>
    </nav>
    <h1 style="text-align: center">{{ order }}</h1>
    {{ order.text | raw }}
    <div style="display: flex; justify-content: space-between">
        <abbr title="{{ order.authorPosition.name }}">{{ order.authorPosition.shortName }}</abbr>
        <span>{{ order.author.user }}</span>
    </div>
    {% if employeeItems %}
        <p>Затрагивает работников:</p>
        <ol>
            {% for item in employeeItems %}
                <li>
                    <a href="{{ path('app_employee_show', {'directorateAlias': item.employee.directorate.alias, 'number': item.employee.number}) }}">{{ item.employee.user }}</a>
                    {% include 'hr_order/item.html.twig' %}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
