{% extends 'base.html.twig' %}

{% block title %}МпЖД{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">МпЖД</li>
        </ol>
    </nav>
    <h1>Мультиплеерная железная дорога</h1>
    {% for directorate in directorates %}
        <p>
            <a href="{{ path('app_directorate_index', {directorateAlias: directorate.alias}) }}">{{ directorate }}</a>
            {% if app.user %}
                {% set employee = app.user.employees['' ~ directorate.id] | default(null) %}
                {% if employee and employee.position %}
                    - <abbr title="{{ employee.position.name }}">{{ employee.position.shortName }}</abbr>, #{{ employee.number }}, {{ employee.rank | default('без класса') }}
                {% endif %}
            {% endif %}
        </p>
    {% endfor %}
    <h4>Недавние приказы:</h4>
    <ul>
        {% for order in orders %}
            <li><abbr title="{{ order.directorate.name }}">{{ order.directorate.shortName }}</abbr>: <a href="{{ path('app_order_show', {'directorateAlias': order.directorate.alias, 'number': order.number}) }}">
                    {% if order.canceledBy %}<del>{% endif %}№{{ order.numberString }} {{ order.title }}{% if order.canceledBy %}</del>{% endif -%}
                </a> ({{ order.signedAt | date('d.m.Y H:i:s') }})</li>
        {% endfor %}
    </ul>
{% endblock %}
