<form method="post" action="{{ path('app_drafthrorder_delete', {'directorateAlias': hr_order.directorate.alias, 'id': hr_order.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hr_order.id) }}">
    <button class="btn">Delete</button>
</form>
