{% extends 'bootstrap_5_layout.html.twig' %}
{% block collection_widget %}
    {{ parent() }}
    <button type="button" id="add-order-item">add</button>
    <script>
        $(document).ready(function () {
            const widget = $('#{{ form.vars.id }}');
            const initRow = function (context) {
                $('select.select-user', context).css('width', '100%');
                $('select.select-user', context).select2({
                    ajax: {
                        url: '{{ url('app_user_autocomplete') | e('js') }}',
                        dataType: 'json',
                        delay: 1000
                    }
                });
                $('.del-row', context).click(function () {
                    $(this).parent().remove();
                });
            };
            initRow(widget);
            $('#add-order-item').click(function (e) {
                let counter = widget.data('widget-counter') || widget.children().length;
                let newWidget = widget.attr('data-prototype');
                newWidget = newWidget.replace(/__name__label__/g, counter).replace(/__name__/g, counter);
                counter++;
                widget.data('widget-counter', counter);
                const newElement = $(newWidget);
                initRow(newElement);
                newElement.appendTo(widget);
            });
        });
    </script>
{% endblock %}

{% block collection_entry_label %}
    <button type="button" class="del-row">del</button>
{% endblock %}
