{% form_theme form 'draft_hr_order/_form_theme.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    <button class="btn" name="btn_sign">Sign</button>
{{ form_end(form) }}
