{% extends 'base.html.twig' %}

{% block title %}Черновики кадровых приказов - {{ directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {directorateAlias: directorate.alias}) }}">{{ directorate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Черновики кадровых приказов</li>
        </ol>
    </nav>
    <h1>Черновики кадровых приказов - {{ directorate }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(hr_orders, 'Дата создания', 'o.createdAt') }}</th>
                <th>Автор</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hr_order in hr_orders %}
            <tr>
                <td>
                    <a href="{{ path('app_drafthrorder_show', {'directorateAlias': hr_order.directorate.alias, 'id': hr_order.id}) }}">
                        {{ hr_order.createdAt | date('d.m.Y H:i:s') }}
                    </a>
                </td>
                <td><abbr title="{{ hr_order.authorPosition.name }}">{{ hr_order.authorPosition.shortName }}</abbr> {{ hr_order.author.user }}</td>
                <td>
                    <a href="{{ path('app_drafthrorder_show', {'directorateAlias': hr_order.directorate.alias, 'id': hr_order.id}) }}">show</a>
                    <a href="{{ path('app_drafthrorder_edit', {'directorateAlias': hr_order.directorate.alias, 'id': hr_order.id}) }}">edit</a>
                    {{ include('draft_hr_order/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('DRAFT_ORDER_CREATE') %}
        <a href="{{ path('app_drafthrorder_new', {'directorateAlias': directorate.alias}) }}">Create new</a>
    {% endif %}
{% endblock %}
