{% extends 'base.html.twig' %}

{% block title %}Новый кадровый приказ - {{ hr_order.directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {directorateAlias: hr_order.directorate.alias}) }}">{{ hr_order.directorate }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_drafthrorder_index', {directorateAlias: hr_order.directorate.alias}) }}">Черновики кадровых приказов</a></li>
            <li class="breadcrumb-item active" aria-current="page">Новый</li>
        </ol>
    </nav>
    <h1>Новый кадровый приказ - {{ hr_order.directorate }}</h1>

    {{ include('draft_hr_order/_form.html.twig') }}

    <a href="{{ path('app_drafthrorder_index', {'directorateAlias': hr_order.directorate.alias}) }}">back to list</a>
{% endblock %}
