{% extends 'base.html.twig' %}

{% block title %}{{ hr_order }} - {{ hr_order.directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {'directorateAlias': hr_order.directorate.alias}) }}">{{ hr_order.directorate }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_drafthrorder_index', {'directorateAlias': hr_order.directorate.alias}) }}">Черновики кадровых приказов</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ hr_order }}</li>
        </ol>
    </nav>
    <h1 style="text-align: center">{{ hr_order }}</h1>
    {{ hr_order.text | raw }}
    <div style="display: flex; justify-content: space-between">
        <abbr title="{{ hr_order.authorPosition.name }}">{{ hr_order.authorPosition.shortName }}</abbr>
        <span>{{ hr_order.author.user }}</span>
    </div>
    {% if draft.items %}
        <p>Затрагивает пользователей:</p>
        <ol>
            {% for item in draft.items %}
                <li>
                    {{ item.user }} - {% if item.employee %}
                        <a href="{{ path('app_employee_show', {'directorateAlias': item.employee.directorate.alias, 'number': item.employee.number}) }}">
                            {% if item.employee.position %}<abbr title="{{ item.employee.position.name }}">{{ item.employee.position.shortName }}</abbr>{% else %}<i>нет</i>{% endif%} #{{ item.employee.number }} {{ item.employee.rank -}}
                        </a>
                    {%- else %}
                        <i>нет (будет создан новый)</i>
                    {%- endif %}:
                    <ul>
                        {% if item.changePosition %}
                            <li>должность: {% if item.position %}<abbr title="{{ item.position.name }}">{{ item.position.shortName }}</abbr>{% else %}<i>нет (уволить)</i>{% endif %}</li>
                        {% endif %}
                        {% if item.changeRank %}
                            <li>класс: {{ item.rank }}</li>
                        {% endif %}
                        {% if item.points %}
                            <li>баллы: {% if item.setPoints %}присвоить{% else %}увеличить на{% endif %} {{ item.points }}</li>
                        {% endif %}
                        {% if item.addAdmittances %}
                            <li>добавляемые допуски: {{ item.addAdmittances | join(', ') }}</li>
                        {% endif %}
                        {% if item.removeAdmittances %}
                            <li>удаляемые допуски: {{ item.removeAdmittances | join(', ') }}</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ol>
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>DraftData</th>
                <td>{{ hr_order.draftData ? hr_order.draftData|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_drafthrorder_index', {'directorateAlias': hr_order.directorate.alias}) }}">back to list</a>

    <a href="{{ path('app_drafthrorder_edit', {'directorateAlias': hr_order.directorate.alias, 'id': hr_order.id}) }}">edit</a>

    {{ include('draft_hr_order/_delete_form.html.twig') }}
{% endblock %}
