{% extends 'base.html.twig' %}

{% block title %}Сотрудники - {{ directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {directorateAlias: directorate.alias}) }}">{{ directorate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Сотрудники</li>
        </ol>
    </nav>
    <h1>Сотрудники - {{ directorate }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ knp_pagination_sortable(employees, 'Табельный номер', 'e.number') }}</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Должность</th>
            <th scope="col">Класс</th>
            <th scope="col">Баллы</th>
        </tr>
        </thead>
        <tbody>
        {% for em in employees %}
            <tr>
                <th scope="row">
                    <a href="{{ path('app_employee_show', {directorateAlias: em.directorate.alias, number: em.number}) }}">{{ em.number }}</a>
                </th>
                <td>
                    <a href="{{ path('app_employee_show', {directorateAlias: em.directorate.alias, number: em.number}) }}">{{ em.user }}</a>
                </td>
                <td>{{ em.position }}</td>
                <td>{{ em.rank }}</td>
                <td>{{ em.points }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>{{ knp_pagination_render(employees) }}</div>
{% endblock %}
