{% extends 'base.html.twig' %}

{% block title %}#{{ employee.number }} {{ employee.user }} - {{ employee.directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {directorateAlias: employee.directorate.alias}) }}">{{ employee.directorate }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_employee_index', {directorateAlias: employee.directorate.alias}) }}">Сотрудники</a></li>
            <li class="breadcrumb-item active" aria-current="page">#{{ employee.number }} {{ employee.user }}</li>
        </ol>
    </nav>
    <p>Пользователь: {{ employee.user }}</p>
    <p>Табельный номер:  {{ employee.number }}</p>
    <p>Должность: {{ employee.position }}</p>
    <p>Класс: {{ employee.rank }}</p>
    <p>Баллы: {{ employee.points }}</p>
    <p>Допуски: {{ employee.admittances | join(', ') | default('-') }}</p>
    <p>Упоминается в приказах:</p>
    <ol>
        {% for item in orderItems %}
            <li>
                <a href="{{ path('app_hrorder_show', {'directorateAlias': item.order.directorate.alias, 'year': item.order.year, 'number': item.order.number}) }}">{{ item.order }}</a>
                {% include 'hr_order/item.html.twig' %}
            </li>
        {% endfor %}
    </ol>
{% endblock %}
