<form method="post" action="{{ path('app_draftorder_delete', {'directorateAlias': order.directorate.alias, 'id': order.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ order.id) }}">
    <button class="btn">Delete</button>
</form>
