{% extends 'base.html.twig' %}

{% block title %}{{ order }} - {{ order.directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {directorateAlias: order.directorate.alias}) }}">{{ order.directorate }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_draftorder_index', {directorateAlias: order.directorate.alias}) }}">Черновики приказов</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ order }}</li>
        </ol>
    </nav>
    <h1>{{ order }}</h1>

    {{ include('draft_order/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_draftorder_index', {'directorateAlias': order.directorate.alias}) }}">back to list</a>

    {{ include('draft_order/_delete_form.html.twig') }}
{% endblock %}
