{% extends 'base.html.twig' %}

{% block title %}Черновики приказов - {{ directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {directorateAlias: directorate.alias}) }}">{{ directorate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Черновики приказов</li>
        </ol>
    </nav>
    <h1>Черновики приказов - {{ directorate }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(orders, 'Заголовок', 'o.title') }}</th>
                <th>{{ knp_pagination_sortable(orders, 'Дата создания', 'o.createdAt') }}</th>
                <th>Автор</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>
                    <a href="{{ path('app_draftorder_show', {'directorateAlias': order.directorate.alias, 'id': order.id}) }}">
                        {{ order.title }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('app_draftorder_show', {'directorateAlias': order.directorate.alias, 'id': order.id}) }}">
                        {{ order.createdAt | date('d.m.Y H:i:s') }}
                    </a>
                </td>
                <td><abbr title="{{ order.authorPosition.name }}">{{ order.authorPosition.shortName }}</abbr> {{ order.author.user }}</td>
                <td>
                    <a href="{{ path('app_draftorder_show', {'directorateAlias': order.directorate.alias, 'id': order.id}) }}">show</a>
                    <a href="{{ path('app_draftorder_edit', {'directorateAlias': order.directorate.alias, 'id': order.id}) }}">edit</a>
                    {{ include('draft_order/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('DRAFT_ORDER_CREATE') %}
        <a href="{{ path('app_draftorder_new', {'directorateAlias': directorate.alias}) }}">Create new</a>
    {% endif %}
{% endblock %}
