{% extends 'base.html.twig' %}

{% block title %}Новый приказ - {{ order.directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {directorateAlias: order.directorate.alias}) }}">{{ order.directorate }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_draftorder_index', {directorateAlias: order.directorate.alias}) }}">Черновики приказов</a></li>
            <li class="breadcrumb-item active" aria-current="page">Новый</li>
        </ol>
    </nav>
    <h1>Новый приказ - {{ order.directorate }}</h1>

    {{ include('draft_order/_form.html.twig') }}

    <a href="{{ path('app_draftorder_index', {'directorateAlias': order.directorate.alias}) }}">back to list</a>
{% endblock %}
