{% extends 'base.html.twig' %}

{% block title %}{{ order }} - {{ order.directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {'directorateAlias': order.directorate.alias}) }}">{{ order.directorate }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_draftorder_index', {'directorateAlias': order.directorate.alias}) }}">Черновики приказов</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ order }}</li>
        </ol>
    </nav>
    <h1 style="text-align: center">{{ order }}</h1>
    <h2 style="text-align: center">{{ order.title }}</h2>
    {{ order.text | raw }}
    <div style="display: flex; justify-content: space-between">
        <abbr title="{{ order.authorPosition.name }}">{{ order.authorPosition.shortName }}</abbr>
        <span>{{ order.author.user }}</span>
    </div>
    {% if draft.cancelOrders %}
        <p>Отменяет:</p>
        <ol>
            {% for cancelOrder in draft.cancelOrders %}
                <li><a href="{{ path('app_order_show', {'directorateAlias': cancelOrder.directorate.alias, 'number': cancelOrder.number}) }}">{{ cancelOrder }}</a></li>
            {% endfor %}
        </ol>
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>DraftData</th>
                <td>{{ order.draftData ? order.draftData|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_draftorder_index', {'directorateAlias': order.directorate.alias}) }}">back to list</a>

    <a href="{{ path('app_draftorder_edit', {'directorateAlias': order.directorate.alias, 'id': order.id}) }}">edit</a>

    {{ include('draft_order/_delete_form.html.twig') }}
{% endblock %}
