{% extends 'base.html.twig' %}

{% block title %}Приказы - {{ directorate }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {directorateAlias: directorate.alias}) }}">{{ directorate }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Приказы</li>
        </ol>
    </nav>
    <h1>Приказы - {{ directorate }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Номер', 'o.number') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Заголовок', 'o.title') }}</th>
            <th scope="col">{{ knp_pagination_sortable(orders, 'Дата', 'o.signedAt') }}</th>
            <th scope="col">Автор</th>
        </tr>
        </thead>
        <tbody>
        {% for o in orders %}
            <tr>
                <th scope="row">
                    <a href="{{ path('app_order_show', {directorateAlias: o.directorate.alias, number: o.number}) }}">
                        {% if o.canceledBy %}<del>{% endif %}#{{ o.numberString }}{% if o.canceledBy %}</del>{% endif %}
                    </a>
                </th>
                <th scope="row">
                    <a href="{{ path('app_order_show', {directorateAlias: o.directorate.alias, number: o.number}) }}">
                        {% if o.canceledBy %}<del>{% endif %}{{ o.title }}{% if o.canceledBy %}</del>{% endif %}
                    </a>
                </th>
                <td>{% if o.canceledBy %}<del>{% endif %}{{ o.signedAt | date('d.m.Y H:i:s') }}{% if o.canceledBy %}</del>{% endif %}</td>
                <td>{% if o.canceledBy %}<del>{% endif %}<abbr title="{{ o.authorPosition.name }}">{{ o.authorPosition.shortName }}</abbr> {{ o.author.user }}{% if o.canceledBy %}</del>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>{{ knp_pagination_render(orders) }}</div>
{% endblock %}
