{% extends 'base.html.twig' %}

{% block title %}{{ order }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">МпЖД</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_directorate_index', {'directorateAlias': order.directorate.alias}) }}">{{ order.directorate }}</a></li>
            <li class="breadcrumb-item"><a href="{{ path('app_order_index', {'directorateAlias': order.directorate.alias}) }}">Приказы</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ order }}</li>
        </ol>
    </nav>
    <h1 style="text-align: center">{{ order.caption }}</h1>
    <h2 style="text-align: center">{{ order.title }}</h2>
    {{ order.text | raw }}
    <div style="display: flex; justify-content: space-between">
        <abbr title="{{ order.authorPosition.name }}">{{ order.authorPosition.shortName }}</abbr>
        <span>{{ order.author.user }}</span>
    </div>
{#    <div class="row justify-content-between">#}
{#        <div class="col-4"><abbr title="{{ order.authorPosition.name }}">{{ order.authorPosition.shortName }}</abbr></div>#}
{#        <div class="col-4">{{ order.author.user }}</div>#}
{#    </div>#}
    {% if order.canceledBy is not null %}
        <p>Отменён: <a href="{{ path('app_order_show', {'directorateAlias': order.canceledBy.directorate.alias, 'number': order.canceledBy.number}) }}">{{ order.canceledBy }}</a></p>
    {% endif %}
    {% if order.cancelOrders %}
        <p>Отменяет:</p>
        <ol>
            {% for cancelOrder in order.cancelOrders %}
                <li><a href="{{ path('app_order_show', {'directorateAlias': cancelOrder.directorate.alias, 'number': cancelOrder.number}) }}">{{ cancelOrder }}</a></li>
            {% endfor %}
        </ol>
    {% endif %}
{% endblock %}
